html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}
.global-width{
	max-width: 620px; /*모바일로 볼 수 있음을 고려*/
	margin: auto;
	padding: 0 15px;
}
.graphic-item{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s;
}
.visible{
	opacity: 1;
}
.scroll-graphic{
	position: sticky; /*이미지가 상단에 붙어있게 하는 포지션값. 익스플로러는 지원이 안됨.*/
	top: 0;
	height: 100vh;
}
.scroll-text{
	position: relative;
}
.step{
	margin-bottom: 60vh; /*vh는 뷰포트 단위*/
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.scene-img{
	max-height: 100vh;
}